# Foundry artifacts
contracts/out/
contracts/cache/
contracts/broadcast/
contracts/.gas-snapshot

# Dependencies — forge install
contracts/lib/
documentation/

# Node
web/node_modules/
web/.next/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# OS
.DS_Store

# Next
web/.next/
web/out/
web/build/

# Temporary Data
/tmp/
tmp/
